@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600&family=Vazirmatn:wght@300;400;500;700&display=swap');

body {
  font-family: 'Vazirmatn', 'Inter', system-ui, -apple-system, sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace !important;
}

.font-display {
  font-family: 'Outfit', 'Vazirmatn', sans-serif !important;
}
